
html, body, :global(#root) {
  height: 100%;
  background-color: #ececec;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}
:global(.normal) {
  font-family: Georgia, sans-serif;
  text-align: center;
}
:global(.wrapper) {
  background: #fff;
  margin: 0 48px;
}
:global(.ant-spin) {
  left: 0;
}
:global(a) {
  color: #333333;
}
